#tmap{background-color: ;
   
}
.underline{
    color:  rgb(21,  83, 168);
}
body{
   /* background:url(./images/header.jfif ) no-repeat; */
 background-color: rgb(21, 83, 168);
}
.training{
  display: flex;
justify-content: space-around;
align-items: center;
border: 1px solid gray;

}
#edgewords{
    border: 1px solid gray;
}
#header{
    position: relative;
}
#logo{
    position:absolute;
    top: 10px;
        left: 10px;
        width: 200px;
        height: 100px;
}